[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/hacker/Escritorio/Pruevas_Lenguajes]
row=1
col=0

[/home/hacker/Escritorio/GO_Learning_Bydoing]
row=0
col=0

[545C22C25C229EAC]
row=4
col=12

[Papelera]
row=3
col=12

[/]
row=2
col=12

[/home/hacker]
row=1
col=12

