[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/hacker/Escritorio/Trabajo1]
row=2
col=3

[/home/hacker/Escritorio/ProY]
row=3
col=3

[545C22C25C229EAC]
row=4
col=12

[Papelera]
row=3
col=12

[/]
row=2
col=12

[/home/hacker]
row=1
col=12

