[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/hacker/Escritorio/GO_Tutorials_Learning]
row=0
col=0

[/home/hacker/Escritorio/ProyectoWeb]
row=1
col=0

[/home/hacker/Escritorio/latexCalculo]
row=4
col=0

[/home/hacker/Escritorio/ProY]
row=3
col=0

[/home/hacker/Escritorio/limon.txt]
row=2
col=0

[/home/hacker/Escritorio/cutro.jpg]
row=5
col=0

[545C22C25C229EAC]
row=4
col=12

[Papelera]
row=3
col=12

[/]
row=2
col=12

[/home/hacker]
row=1
col=12

